.cards{
	display: flex;
	justify-content: center;
    align-items: stretch;
    height: 477px;
}

.card{
	padding: 30px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	box-shadow: 0px 10px 30px rgba(0,0,0,0.2);
	border-radius: 6px;
	margin: 10px;
	flex-basis: 280px;
	flex-grow: 1;
	 background-color: white;
}

.card img{
	width: 300px;
	border-radius:6px;
}

.card h3{
	flex-grow: 1;
	padding-left: 20px;
	font-size: 27px
}

.cards1{
	display: flex;
	justify-content: center;
    align-items: stretch;
    height: 577px;
    width: 1577px;
    margin-left: -337px
}

.card1{
	padding: 30px;
	align-items: center;
	justify-content: space-between;
	box-shadow: 0px 10px 30px rgba(0,0,0,0.2);
	border-radius: 6px;
	margin: 10px;
	flex-basis: 280px;
	flex-grow: 1;
	 background-color: white;
}

.card1 img{
	width: 300px;
	border-radius:6px;
}

.card h3{
	flex-grow: 1;
	padding-left: 20px;
	font-size: 27px
}

.card1 p{
	flex-grow: 1;
	padding-left: 20px;
	font-size: 22px;
	text-align: justify;
}

.card1 a{
	flex-grow: 1;
	padding-left: 20px;
	font-size: 17px;
	text-align: justify;
}

a:hover {
	color:red;
}























